
body {
  font-family: 'Cabin', sans-serif;
  font-weight: 400;


}

body * {
  margin: 0;
  border: 0;
  padding: 0;
}
nav {
  font-family: 'Lobster', cursive;
  font-weight: 400;
  font-size: 20px;
  position: fixed;
  text-align: center;
  padding: 1.25rem 4rem;
  position: fixed;
  width: 100%;
  top: 0;
}

.menu{
  position: fixed;

}
.sectionphoto {
  background-image: url('../img/mifoto.jpg');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  max-height: 800px;
  background-color: black;
  color: #fff;
  font-family: 'Lobster', cursive;
  font-size: 37px;
}

.sectionphoto p{
  vertical-align: text-bottom;
  text-decoration: underline;
  text-align: center;
  margin-top: 500px;
}

.borde{
  border-bottom: solid;
  padding-bottom: 40px;
  margin-bottom: 50px;
}
.experiencia p{
  font-size: 17px;
  padding-bottom: 5%;
  padding-top: 2%;
}
.experiencia h2{
  padding-top: 5%;
}

footer{
  font-size: 37px;
}
